# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Redis dump files
dump.rdb
redis/

# Build files
dist/
build/

# Misc
coverage/
.cache/
*.bak
